{% extends "base.html" %} 
{% load static from staticfiles %} 
{% load humanize %}


{% block head_extra %}
<script type="text/javascript">
    function validateRace(pk) {
          $.ajax({
            url: '/api/validate/'+pk,
            type: 'PUT',
            data: { race: pk },
            success: function(response, statut) {
                location.replace('/races');
            },
        });
    }
</script>

{% endblock %}

{% block content %}

<div class="content">

    <div class="eventpage container-fluid">

        <div class="eventbanner"></div>

        <header class="event-header">
            <div class="event-actions">
                <a href="{% url "update_event" event.pk %}"><img class="icon-event" alt="Modifier l'évènement" src="{% static "images/icon-event-edit.svg" %}"></a>
                <a href="{% url "delete_event" event.pk %}"><img class="icon-event" alt="Supprimer l'évènement" src="{% static "images/icon-event-delete.svg" %}"></a>
                <div id="event-action-text">Modifier l'évènement</div>
            </div>

            <div class="container">
                <section class="event-info">    
                    <div class="section-title">évènement</div>
                    <div class="section-content">
                        <h1 class="event-name">{{ event.name }} {{ event.get_start_date | date:'Y' }}</h1>
                        <h2 class="event-detail"> 
                            {{ event.edition | ordinal }} édition 
                            {% if event.get_start_date = event.get_end_date %} 
                                le {{ event.get_start_date }} 
                            {% else %} 
                                du {{ event.get_start_date }} au {{ event.get_end_date }} 
                            {% endif %}
                            {% with event.get_first_location as location %}
                                à {{ location.locality }}
                                {% if location.administrative_area_level_2_short_name %}
                                    ({{ location.administrative_area_level_2_short_name }})
                                {%endif%}
                            {% endwith %}
                        </h2>
                    </div>
                </section>
                <section class="event-race-info">
                    <div class="section-title">courses</div>
                    <div class="section-content">
                        {% for sport, races in event.get_races_by_sports.items %}
                            <h3 class="race-sport-distances">
                                <div class="race-sport">{{ sport }}</div>  
                                <div class="race-distance-buttons">
                                    {% for r in races %}
                                        <div>
                                            <a href="{% url "view_race" r.slug r.pk %}">
                                                <span class="btn btn-default btn-sm distance-icon">{{ r.get_distance_cat_str }}</span>
                                                <span class="race-distance-date">
                                                    <time datetime="{{r.date| date:"c"}}T{{r.time| time:"H:i"}}"><span>{{r.date | date:"l d F Y" }}</span> <span >{{r.time| time:"à H:i"| default:""}}</span></time>
                                                </span>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </h3>
                        {% endfor %}
                </section>
            </div>
        </header>

        <div class="eventbannerbottom"></div>

    </div>
</div>
{% endblock %}