{% extends "base.html" %} 
{% load static from staticfiles %} 

{% block content %}

<div class="content ">
    <div class="container simple-page create_intro">
        <header>
            <h1>Création d'événement</h1>
        </header>
        <div>
            <a class="col-xs-offset-1 col-xs-2 create_choice_box" href="{% url "create_event" %}">
                Créer un nouvel événement de A à Z
            </a>
            <a class="col-xs-offset-1 col-xs-2 create_choice_box" href="{% url "create_event_from" %}">
                Créer une nouvelle édition d'un événement (nouvelle saison)
            </a>
            <a class="col-xs-offset-1 col-xs-2 create_choice_box" href="{% url "update_event" %}">
               Ajouter une course à un évenement existant
            </a>
        </div>
    </div>
</div>
{% endblock %}

