{% extends "base.html" %} 
{% load static from staticfiles %} 
{% load templatetags %}


{% block title %}
<title>Espròva - Recherche dans le calendrier des courses de {{ sport }}</title>
{% endblock %}

{% block meta %}
<meta name="description" content="Recherche de courses de sport en France. Plus d'informations sur Espròva, calendrier des courses de Triathlon, Duathlon, Aquathlon ...">
{% endblock %}

{% block opengraph %}
<meta property="og:title" content="Espròva - Recherche dans le calendrier des courses de {{ sport }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Recherche de courses de sport en France. Plus d'informations sur Espròva, calendrier des courses de Triathlon, Duathlon, Aquathlon ..."/>
{% endblock %}


{% block head_extra %}
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    {#  variables initialiazation #}
    <script>    
    var viewport = [{{ params.viewport }}]
    viewport = viewport.length > 0 ? viewport : default_search_bounds ; // store the current map bounds
    var selected_event_id= "{{ params.active }}";
    var search_sport = "{{ sport }}";
    var search_distances = "{% for d in params.distances %}{{ d }}{% endfor %}";
    var search_start_date = "{{ params.start_date }}" || default_start_date;
    var search_end_date = "{{ params.end_date }}" || default_end_date;
    var search_expr = "{{ params.q }}";

    var init_races = {{ json_races|safe }}
    </script>

    <script src="{% static "js/main.js" %}"></script>
{% endblock %}


{% block content %} 

<div class='container-fluid content'>

    {# search page #}
    <div class='row searchpage'>

        {# mapbox #}
        <div id="cd-zoom-in" class="hidden-xs">+</div>
        <div id="cd-zoom-out" class="hidden-xs">-</div>
        <div id="cd-follow_map_bounds"  class="hidden-xs"> 
            <input id="follow_map_bounds" type="checkbox" name="terms" checked="checked"/>
            <span>Rechercher quand je déplace la carte</span>
        </div>
        <div class='col-md-7 col-sm-5 mapbox hidden-xs' id="map-canvas"></div>

        
        {# sidebox #}
        <div class='col-md-5 col-sm-7' id="sidebox">
           

            <div id="filter-cde">
                <a href="#" id="filter-cde-top"><i class="fa fa-angle-double-up"></i>  Filtres de recherche</a>
                <span class="pull-right">
                    <span id="filter-result-spinner"></span>
                    <span id="filter-cde-results"></span>
                    <span style="color:white"> | </span><a id="filter-cde-reset" href='#'>réinitialiser <i class="fa fa-refresh"></i></a>
                </span>
            </div>
            <div id="sidebox-content">

           {# searchbox #}
            <div class="row searchbox">
                    <form id="race_search_form" class="form-horizontal" role="form" action="{% url "ajx_search_race" %}">

                        <div class="row form-group">
                            <label for="sport-selecter" class="col-sm-3 control-label">Sport</label>
                            <div class="col-sm-8">
                                <select id="sport-selecter" class="form-control" name="sport">
                                {% get_sports %}
                                {% for sport in sports %}
                                    {% if sport.name|lower = params.sport|lower %}
                                        <option selected>{{ sport.name }}</option>
                                    {% else %}
                                        <option>{{ sport.name }}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                        </div>


                        {# expression search #}
                        <div class="row form-group" id="race_quicksearch_form">
                            <label for="search_expr" class="col-sm-3 control-label">Mots-clés</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="search" id="search_expr" name="q" class="form-control" placeholder="Nom, Région, Département, ..." value="{{ params.search_expr }}"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" id="search_expr_go"> 
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>


                        {# date search #}
                        <div class="row form-group">
                            <label for="start_date" class="col-sm-3 control-label">Période</label>
                            <div class= "col-sm-8">
                                <div class="input-daterange datepicker input-group" id="datepicker">
                                  <input type="date" class="input-sm form-control" name="start_date" id="start_date" value="{% now 'Y-m-d' %}"/>
                                <span class="input-group-addon"> à </span>
                                  <input type="date" class="input-sm form-control" name="end_date" id="end_date" value="{% nextyear 'Y-m-d' %}"/>
                                </div>
                            </div>
                        </div>


                        {# distance search #}
                        <div class="row form-group">
                            <label class="col-sm-3 control-label">Distances</label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="btn-group col-xs-10" data-toggle="buttons" id="distance_selectors">
                                        {% for distance in sport.distances %}
                                             <label type="button" id="distance_selector_{{ forloop.counter }}" class="btn btn-default distance_selector {% if distance.name in params.distances %} active {% endif %}">{{ distance.name }}
                                                <input type="checkbox" autocomplete="off" value="{{ distance.name }}" name="distances" class="distance_input" {{ params.distances.XS |yesno:"checked," }}>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <span data-toggle="modal" data-target="#myModal" class="help-search col-xs-2"> <i class="fa fa-question-circle" title="A quoi correspondent ces distances ?"></i></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {# end searchbox #}
   
            {# racelist #}
            <div id="racelist" class="list-group" role="tablist" aria-multiselectable="true">
            {% autoescape off %}
                {{ racelist }}
            {% endautoescape %}
            </div>

            {# end racelist #}

        </div>
        {# end sidebox #}


    </div>
    {# end search page #}

</div>
{# end content #}

<!-- Modal -->
<div id="sport-distances-helper">
</div>


{% endblock %}
{% block footer %} 

{% endblock %}
{% block beforeBodyClose %}

{% endblock%}

