<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{sport.name}}</h4>
            </div>

            <div class="modal-body">
                {% for distance in sport.distances %}
                    <section>
                        <p class="distance-name">{{ distance.name }} ({{distance.long_name}})</p>
                        <dl class="distance-stages">
                            {% for stage in distance.stages %}
                                <div>
                                    <dt>{{ stage.name }}</dt>
                                    <dd>{{ stage.distance }}</dd>
                                </div>
                            {% endfor %}
                        </dl>
                    </section>
                {% endfor %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
