// common
html, body{
    height: 100%;
    font-size: @font-size-xs;
     @media (min-width: @screen-sm-min) {
                font-size: @font-size-base;
            }
    font-weight: 400;
}

.alt_font {
    // font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    // font-weight: 400;
}

.light {
    font-weight: 100;
}

blockquote {
    border:none;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

blockquote:before {
    content: "\201C";
    font-size: 70px;
    display: block;
    float: left;
    margin-top: -70px;
    color: @esprova-red;
}
blockquote:after {
    content: "\201D";
    font-size: 70px;
    display: block;
    float: right;
    color: @esprova-red;

}

@media print {
  * { 
    text-shadow: none !important;
    // color: #000 !important; 
    background: transparent !important;
    box-shadow: none !important;
  }

  a, a:visited { text-decoration: underline; }
  a[href]:after { content: ""; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  a[href^="javascript:"]:after,
  a[href^="#"]:after { content: ""; }
  dt { font-size:1.2em }
}

.messages {
    position: fixed;
    bottom: 50px;
    right: 50px;
    min-width: 30%;
    max-width: 40%;
    color: white;
    background: transparent url(../images/alert-notch.svg) no-repeat bottom right;
    opacity: 0.9;
    z-index: 1000;
    .alt_font();

    .alert{
        margin-top: 22px;
        background-color: @esprova-gray;
    }
}
    
.content {
    min-height: 100%;
    margin-top: -51px;
    padding-top: 81px;
    padding-bottom: 100px;
    margin-bottom: -45px;
}

.content:after {
  content: "";
  display: block;
}

.sport-selecter{
    text-align: center;
}


.nav {
    font-weight: 400;
}

// intro

.intro-navbar {
    background-color: @esprova-red;
    line-height: 51px;

    .icon-bar {
        background-color: white !important;
    }

    .navbar-nav {
        // width: 100%;
        margin: 0;
    }

    

    nav {
        background-color: inherit;

        .navbar-collapse.collapse.in {
            margin-bottom: 51px
        }
    }

    a {
        color: white !important;
        background-color: transparent!important;
    }

    .dropdown-menu{
        a {
            color: inherit !important;
        }
    }


    // .nav .open>a:focus, .nav .open>a:hover {
    //     background-color: transparent;
    // }

    * > img {
        height: 20px;
        margin-left: 10px;
    }
}

.intropage {
    // background-color: @esprova-red;
    // color:white;

    .banner {
        height: 400px;
        text-align: center;
        background: url(../images/intro-banner.jpg) no-repeat center;
        background-size: cover; 
        margin-top: -81px;
        padding-top: 80px;
        width: 100%;

        .typogram {
            width: 50%;
            margin: auto;
            h1>img {
                width: 100%;
            }
        }

        .baseline {
            font-size: 2em;
            color: white;
            width: 70%;
            margin-right: auto;
            margin-left: auto;
            margin-top: 40px;
            line-height: 1.3em;

            @media (min-width: @screen-sm-min) {
                font-size: 2.8em;
            }
        }
    }

    .search-command {
        background-color: @esprova-red;
        color: white;
        padding: 70px 30px 100px 30px;
        margin-right: -15px;
        margin-left: -15px;
        
            label {
                font-weight: normal;
            }

        .search-example {
            font-style: italic;
            a {
                color: white;
            }
        }
    }

    .collaborative-banner {
        text-align: center;
        background-color: @esprova-lightergray;
        margin: 0 -15px 0 -15px;
        padding: 30px 0 40px 0;
        font-size: 1.2em;
        border-bottom: 1px solid @esprova-lightgray;
        border-top: 1px solid @esprova-lightgray;

    }

    .intro-spacer {
        background-color: @esprova-lightergray;
        height: 1px;
        margin: 60px -15px;
    }

    .informations {
        padding: 40px 0 50px 0;
        color: @esprova-darkgray;

        .about {
            text-align: center;

            .about-title {
                font-weight: 600;
                margin-bottom: 50px;
                font-size: 2.8em;
                // letter-spacing: 0.15em;

                @media (min-width: @screen-sm-min) and  (max-width: @screen-sm-max) {
                    font-size: 2.2em;
                }
            }


            .about-icon {
                margin-top: 50px;
                margin-bottom: 50px;
                height: 100px;
            }

            .about-text {
                .alt_font ();
                text-align: left;
                padding: 0 20px 0 20px;
                margin-bottom: 50px;
            }
        }
        .more-info {
            // padding: 150px 0 0 0;
            position: relative;

            .more-info-icon {
                padding: 0;
                height: 200px;
                line-height: 200px;
                text-align: center;
                margin-bottom: 30px;

                > img {
                    height: 150px;

                }

                // used to center vertically on large devices
                @media (min-width: @screen-sm-min) {
                    position:absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    -ms-transform: translateY(-50%); /* IE 9 */
                    -webkit-transform: translateY(-50%); /* Safari */
                    margin-bottom: 0px;
                }
        
            }

            .more-info-text {
                padding: 0 30px 0 30px;
                text-align: left;

                .title {
                    font-size: 2em;
                    margin-bottom: 50px;
                    text-align: center;
                    font-weight: 600;
                }

                .text {
                    .alt_font ();
                    margin-bottom: 30px;
                }


            }
        }
    }

}


// search

.searchpage {
    left: 0;
    right: 0;
    bottom: 0;
    top: 51px;
    margin: 0;
    position: absolute;

    .mapbox {
        height: 100%;
        min-height: 100%;
        background-color: lightgray;
        margin:auto;
    }

    #cd-zoom-in, #cd-zoom-out {
        height: 32px;
        width: 32px;
        cursor: pointer;
        position:absolute;
        z-index: 1;
        left: 10px;
        background-color: fade(@esprova-red, 92%);
        font-size: 2.28em;
        color:white;
        text-align: center;
        vertical-align: middle;
        line-height: 1em;
    }

    #cd-zoom-in {
        top: 15px;
    }
    #cd-zoom-out {
        top: 48px;
    }

    #cd-place-searchbox {
        position:absolute;
        margin-left: 50px;
        margin-top: 15px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
        height: 32px;
        border: 1px solid @esprova-red; 
        background-color: fade(white, 92%);
        display: none;
    }

    #cd-follow_map_bounds {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 1;
        background: fade(white, 92%);
        padding: 2px;
        color: @esprova-red;
        font-weight: 300;
        font-size: 0.86em;
        padding-right: 5px;
        padding-left: 5px;

        span {
            padding-left: 5px;
        }
    }

    #sidebox {
        height: 100%;
        overflow-y: scroll;
        border: 1px solid;
        border-width: 0 0 0 1px;
        border-color: @esprova-gray;
        padding-top: 40px;

        @media (max-width: @screen-xs-max) {
                overflow-y: visible;
                box-shadow: none;
                padding-top: 0;
            }


        .shadow(-2px, 0);
    }

    #filter-cde {
        background: @esprova-red;
        margin-left: -15px;
        margin-right: -15px;
        height: 40px;
        padding: 10px 15px 10px 15px;    
        // text-align: center;
        width: inherit;
        z-index:10;
        font-weight: 100;

        #filter-cde-top {
            display: none;
        }

        @media (min-width: @screen-sm-min) {
            position:fixed;
            top:51px;    
        }
        
        > a {
            color:white;
        }

        * > a {
            color:white;
        }

    }

    & .sticky-xs {
        width: 100% !important;
        position:fixed;
        top:0;
    }

    #filter-cde-results {
        // text-align: right;
        // color: @esprova;
    }

    // Filters

    .searchbox {    
        min-height: 20px;
        padding: 19px;
        margin-bottom: -20px;
    }

    .distance_selector {
        width: 20%;
        padding: 6px 6px;
        font-weight: 600;
    }

    .distance_selector.active {
        background-color: @esprova-red;
        color:white;  
    }

    .help-search {
        font-size: 1.71em;
        cursor: pointer;
    }

    // Results

    .month-spacer {
        font-size: 1.29em;
        color: @esprova-red;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: 0.02em;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    #no-result {
        margin-top: 15px;
        padding: 30px;

        #try-location-search {
            font-style: italic;
        }
    }

    #racelist-loading-spinner {
            display: none;
            margin-top: 40px;
            font-size: 4.29em;
            color: @esprova-lightgray;
            text-align: center;
            line-height: 100px;
        }

    #racelist-container {

        #racelist {
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 0;
            min-height: 400px;
            border-bottom: 1px solid @esprova-gray;

            .search-result {
                padding: 30px 0 30px 0;
                margin: 0 -30px 0 -30px;
                border: 1px solid @esprova-lightergray;
                border-width: 0 0 1px 0;
                cursor: default;


                &.first {
                    border-width: 1px 0 1px 0;
                }

                &:hover {
                    background-color: @esprova-lightergray;
                }

                @date-preview-width-sm: 100px;
                @date-preview-width-xs: 60px;
                .result-date-preview {
                    @media (min-width: @screen-sm-min) {
                        width: @date-preview-width-sm;
                        height: 70px;
                        float: left;
                        font-size: 3.57em;
                        text-align: center;
                    }
                    width: @date-preview-width-xs;
                    height: 40px;
                    float: left;
                    font-size: 2.2em;
                    text-align: center;
                    color: @esprova-lightgray;


                    .result-start-date {
                        line-height: 1.2em;
                    }
                    .result-end-date {
                        font-size: 0.4em;
                        @media (min-width: @screen-sm-min) {
                            margin-top: -0.4em;
                        }
                        
                    }
                }

                .result-content {
                    margin-left: @date-preview-width-xs;
                    @media (min-width: @screen-sm-min) {
                        margin-left: @date-preview-width-sm;

                    }

                    .result-title {
                        letter-spacing: 0.075em;
                        margin: 0;
                        font-weight: 600;
                    }

                    .result-location {
                        color: @esprova-gray;
                        letter-spacing: 0.075em;
                        margin-bottom: 5px;
                    }

                    .result-detail {

                        .result-detail-distance {
                            margin-top: 3px;
                            display:inline;
                            pointer-events: none;

                            &.disabled {
                                    visibility: hidden;
                            }

                            .result-detail-date {
                                display: none;
                            }

                            .distance-icon {
                                background-color: @esprova-gray;
                                color:white;
                                cursor: inherit;
                                min-width: 40px;
                                border: 0;
                                font-weight: 600;
                            }

                        }

                    }

                }

            // when result selected ("active")
                &.active {
                    background-color: @esprova-lightgray;
                    padding-bottom: 20px;
                    cursor: auto;


                    .result-date-preview {
                        color: @esprova-red;
                    }

                    .result-content {
                        .result-detail {
                            display: initial;
                            color: @esprova-red;
                            .result-detail-distance {
                                display: block;
                                pointer-events: auto;
                                &.disabled {
                                    display: none;
                                }
                                .result-detail-date {
                                    display: inline;
                                }
                                .distance-icon {
                                    background-color: @esprova-red;
                                    color: white;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        #racelist_footer {
            margin-left: -15px;
            margin-right: -15px;
            padding : 10px 30px 10px 30px;
            border-bottom: 5px solid @esprova-red;
            text-align: center;

        }

    }

    
}

.distance-name {
    color: @esprova-red;
    font-size: 1.4em;
    text-align: center;
    margin-top: 50px;
}

.distance-stages {
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid @esprova-lightgray;
}




@race-padding: 200px;
.race-auto-padding {
    // padding-left: @race-padding;
    // padding-right: @race-padding;
}

.racepage {
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
       
        .racebanner {
            background: url(../images/race-banner.jpg) no-repeat center;
            vertical-align: text-bottom;
            top: 51px;
            height: 300px;
            margin-top: -30px;
            background-size: cover;
            background-position-y: 20%;
            .hidden-print();
        }

        .event-header {
            background-color: @esprova-red;
            color: white;
            padding-top: 15px;
            padding-bottom: 30px; 
            font-weight: 400;

            .race-event-info{
                .make-sm-column-offset(2);
                .make-sm-column(8);
                

                .event-name {
                    text-transform: uppercase;
                    font-size: 2.5em;
                }
                .event-detail {
                    font-size: 1.2em;
                    font-weight: inherit;
                }
            }

            .race-distances {
                .make-sm-column-offset(2);
                .make-sm-column(8);
                // .make-row();
                margin-top: 30px;

                .race-sport-distances {

                    font-size: inherit;


                    @media (min-width: @screen-md-min) {
                        display: inline;
                    }

                    margin-right: 50px;
                    line-height: 300%;

                    .race-sport {
                        margin-right: 5px;
                    }

                    .distance-icon {
                        color: @esprova-red;
                        border: solid 1px @esprova-red;
                        min-width: 40px;

                    }
                    .distance-icon.active{
                        color: white;
                        // border: solid 1px white;
                        background-color: @esprova-gray;
                        // border: solid 1px white;
                    }


                }
                
            }

        }
        .race-menu {
            // background-color: @esprova-darkgray;
            background: @esprova-darkgray url(../images/icon-race-notch.svg) no-repeat top right;
            color: white;
            @race-menu-height: 60px;
            // height: @race-menu-height;

            .race-menu-title {
                .make-sm-column-offset(2);
                .make-sm-column(4);
                font-size: 1.5em;
                line-height: @race-menu-height;

            }

            .race-menu-pills {
                .make-sm-column(4);
                line-height: @race-menu-height;
                li > a {
                   padding:0; 
                }
                .active>a {
                    background-color: @esprova-gray !important;
                    // border-left: solid 1px white;
                    // border-right: solid 1px white;
                }

                .disabled>a {
                    color: @esprova-gray;
                }
            }
        }

        .race-content {
            .race-auto-padding();
            .alt_font();
            .race-infogroup {
                padding-top: 50px;
                padding-bottom: 50px;
                border-bottom: solid 1px @esprova-lightergray;

                .race-description {
                    text-align: center;
                    font-style: italic;
                    color: @esprova-gray;
                }

                .race-infogroup-icon {
                    .make-sm-column-offset(2);
                    .make-sm-column(2);
                    text-align: center;

                    img {
                        height: 80px;
                        margin-bottom: 40px;
                    }
                }
                .race-infogroup-details {
                    .make-sm-column(8);

                    .dl-horizontal-perso {
                        // .make-row();
                        dt {
                            .make-sm-column(3);
                            color: @esprova-gray;
                            text-align: left;
                            font-weight: 100;
                            /* Small devices (tablets, 768px and up) */
                            @media (min-width: @screen-sm-min) { 
                                text-align: right;
                            }
                        }
                        dd {
                            .make-sm-column(9);
                            
                            #address-map{
                                display: none;
                                width: 90%;
                                height: 400px;
                                margin-top: 30px;
                            }
                        }
                        
                    }
                }
            }

            .race-add-planning {
                .hidden-print();
                padding: 120px 0;
                font-size: 1.5em;
                color: @esprova-gray;
                border-bottom: solid 1px @esprova-lightergray;
                text-align: center;

                .race-add-planning-text {
                    line-height: 100px;
                }

                .race-add-planning-icon {
                    height: 100px;
                    padding-left: 30px;
                }
                .race-add-planning-icon:hover {
                    .opacity(0.5);
                }
            }
        }

        .race-edit {
            .alt_font();
            color: @esprova-gray;
            font-style: italic;
            text-align: center;
            margin-bottom: -50px;
        }
}

.social-buttons {
    .make-row();
    .hidden-print();
    .alt_font();
    text-align: center;
    color: @esprova-gray;
    margin-top: 70px;
    margin-bottom: 100px;
    -webkit-filter: grayscale(100%); 
            filter: grayscale(100%);
}

// Datepicker
.datepicker-switch {
    color: @esprova-red;
}

footer {
    .hidden-print();
    .clearfix();
    margin-bottom: 0px;
    padding: 5px 15px 5px 15px;
    background-color: @esprova-red;
    color: white;

    .footer-logo {
        text-align: center;
        max-width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    // .footer-contacts {
    //     float: right;
    //     text-align: right;
        
    // }

    .footer-quicklinks {
        float: right;
        line-height: 35px;
        margin: 0;
        text-align: right;
        li {
            padding-left: 0px;
            padding-right: 0px;
            @media (max-width: @screen-xs-max) {
                width: 100%;
                text-align: right;
            }
            > a {
            color: white;
            }
        }
        .contact-icons {
            margin-left: 10px;
            img {
                height: 20px;
                margin-left: 12px;
            }
        }
    }
    
}

.simple-page {
    header {
        margin-bottom: 80px;
        text-align: center;
        h2 {
            font-weight: normal;
        }
    }

    .location-searchbox {
        margin-bottom: 30px;
        margin-top: 50px;

        #location-error-message {
            margin-top: 40px;
        }
        // border-color: @esprova-red;
    }

    .location-searchbox-label {
        color: @esprova-darkgray;
    }

    .map-container {
        height: 400px;
        margin-top: 15px;
        padding: 15px;
    }
    #address-map {
        height: 100%;
    }

    #selected-address {
        display: none;
        #selected-address-title {
            color: @esprova-gray;
        }

        a {
              .pull-right();
        }

    }

    .simple-form {
        margin-bottom: 50px;
        .row {
            margin-top: 10px;
            margin-bottom: 10px; 
        }

        .label {
            text-align: right;
            color: @esprova-red;
            font-size: 1em;
            label {
                font-weight: 400;                
            }
        }
        .required:before {
            content: '* ';
        }

        .autocomplete-light-widget {
            width: 100%;
            input{
                width: initial;
            }
        }

        input,
        textarea {
            width: 100%;
            border: 1px solid @esprova-lightgray;
        }

        .list-group {
            .glyphicon {
                font-size: 16px;
                margin-left: 10px;
            }
            .deleted {
                text-decoration: line-through;
            }
        }

        .form-submit {
            margin-top: 50px;   
            text-align: center;
        }

    }

        .footer-info {
            .alt_font();
            color: @esprova-gray;
            font-style: italic;
            text-align: center;
            margin-bottom: -50px;
        }


    .planning {
        margin-bottom: 50px;
        .make-row();

        .list-group-item {
            .make-sm-column-offset(2);
            .make-sm-column(8);
            padding-top: 15px;
            padding-bottom: 15px;
            margin-top: 5px;
        }

        .date {
            line-height: 300%;
        }

        .event{
            font-size: 1.3em;
            color: @esprova-red;

        }
        .close_button {
            line-height: 200%;
            font-size: 1.5em;
        }
    }

    .validation {
        margin-bottom: 50px;

        .event{
            font-size: 1.2em;
            color: @esprova-red;
        }

        .changes{
            font-size: 1.2em;
        }
    }

}

.create_intro {

    .event-name {
        font-size: 2em;
    }

    .event-list-results {
        margin-top: 60px !important;
    }

    .new-event {
        text-align: center;
        margin-top: 100px !important;
        input {
            width: inherit;
        }
    }
    .spinner {
        font-size: 4.5em;
        text-align: center;
        margin-top: 40px;
        color: @esprova-lightgray;
    }

}

.fourOfour {
    background: url(../images/404_background.jpg) no-repeat center;
    background-size: 100%;

    .container {
        position : absolute;    
        height: 150px;
        top: 50%;
        margin-top: -75px;
        .logo {
            .make-sm-column-offset(1);
            .make-sm-column(3);
            height: 100%;
            img{
                // width: 100%;
                height: 100%;
                padding: 30px;
            }
        }

        .info{
            .make-sm-column(7);
            padding: 30px;

            .title {
                font-size: 1.5em;
            }
            .text {
                margin-top: 20px;
            }
        }

    }
    
    
}

.yourlabs-autocomplete {
    a {
        color: @esprova-darkgray;
    }
}

.modal {
    .modal-header {
    background-color: @esprova-red;
    color: white;
    font-size: 1.7em;
    text-align: center;
}

    .modal-footer {
        background-color: @esprova-red;
        color: white;
    }
}


