// .navbar {
//     margin-bottom: 0;
//     width:100%;
//     position:fixed;
// }

.content {
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: auto;
}

.searchpage {
    height: 100%;
}

.mapbox {
    height: 100%;
    min-height: 100%;
    background-color: lightgray;
    margin:auto;
}
.sidebox {
    height: 100%;
    overflow-y: scroll;
    border: 1px solid;
    border-width: 0 0 0 1px;
    border-color: @esprova-gray;

    .shadow(-2px, 0);
}

// Filters

.searchbox {    
    min-height: 20px;
    padding: 19px;
    margin-bottom: -20px;
}

.distance_selector {
    width: 20%;
    padding: 6px 6px;
}

.help-search {
    font-size: 24px;
    margin-top: 3px;
}

// Results

.month-spacer {
    font-size: 18px;
    color: @esprova-red;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-top: 50px;
    margin-bottom: 30px;
}


.search-result {
    padding: 15px 0 15px 0;
    margin: 0 -15px 0 -15px;
    border: 1px solid @esprova-lightergray;
    border-width: 0 0 1px 0;

    &.first {
        border-width: 1px 0 1px 0;
    }

    &:hover {
        background-color: @esprova-lightergray;
    }

    .result-date-preview {
        width: 100px;
        height: 70px;
        float: left;
        font-size: 50px;
        text-align: center;
        color: @esprova-lightgray;
    }

    .result-content {
        margin-left: 100px;



        .result-title {
            letter-spacing: 0.075em;
            // font-weight: 300;
            margin: 0;
        }

        .result-location {
            color: @esprova-gray;
            letter-spacing: 0.075em;
            // font-weight: 200;
        }

        .distance-icon {
            width: 40px;
        }
    
        .result-distances>button {
            background-color: @esprova-gray;
            color:white;
        }

        .result-distances>button:disabled {
            visibility: hidden;
        }

        .result-detail {
            display:none;
        }
    }

    &.active {
        background-color: @esprova-lightgray;
        padding-bottom: 20px;
        .result-date-preview {
            color: @esprova-red;
        }
        .result-content {
            .result-distances {
                display:none;
            }

            .result-detail {
                display: initial;
                color: @esprova-red;
            }

            .distance-icon {
                background-color: @esprova-red;
                color: white;
                margin-right: 20px;
            }
        }
    }
}

// .result-spacer {
//     border: 1px solid @esprova-lightgray;
//     border-width: 0 0 1px 0;
//     margin: 0 -15px 0 -15px;
// }

// not used so far


// .placesearchbox {
//     position: relative;
//     padding: 20px 0px;
//     /*background-color: red;*/
// }

.racebanner {
    /*margin: 20px 0;*/
    /*width: 100%;*/
    vertical-align: text-bottom;
    top:51px;
    height: 400px;
    background-color: lightgray;
}

.racebanner > p {
    margin-top:370px;
    margin-right: 20px;
    font-style: italic;
    color: white;
}

.presentation {
    /*background: #F8F8F8;  /*navbar color*/
    /*display:table;*/
    position: absolute;
    height: 100%;
    /*width: 100%;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.sport-presentation{
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    margin-top: 120px;
}

.sport-selecter{
    text-align: center;
    border: 1px solid red;
}

.distance_checkbox {
    display: none;
}

.sidealert {
    position:relative;
    z-index: 1;
}

.mapalert {
    position:absolute;
    z-index: 1;
}

.event-result {
  margin-bottom: 0;
  margin-top: 10px;
}

.event-result.mouseover{
    border-color:  gray;
}

