//
// Variables
// --------------------------------------------------


// Espròva Colors
@esprova-red:           #e35252;
@esprova-lightgray:     #e6e6e6;
@esprova-gray:          #b3b3b3;
@esprova-darkgray:      #4d4d4d;
@esprova-lightergray:   #f1f1f1;


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         @esprova-red;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;


// navbar
@navbar-default-bg:                #fff;
@navbar-default-border:            @esprova-red;
@navbar-default-color:             @esprova-red;



@font-family-sans-serif:  "Montserrat","Helvetica Neue", Helvetica, Arial, sans-serif;

// buttons
//** Background color for textual input addons
@input-group-addon-bg:           transparent;

//** Border color for textual input addons
@input-group-addon-border-color: transparent;


//  radius
@border-radius-base:        2px;
@border-radius-large:       3px;
@border-radius-small:       1px;
