{% extends "base.html" %}
{% load static from staticfiles %} 


{% block opengraph %}
<meta property="og:title" content="Programme de courses de {{ username | capfirst }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Consultez mon planning sur Espròva, calendrier des courses de Triathlon, Duathlon, Bike and Run ..."/>
<meta property="og:url" content="{% url 'planning' username %}?secret_key={{secret_key}}"/>

{% endblock %}

{% block head_extra %}
<script type="text/javascript">
    function removeFromPlanning(pk) {
          $.ajax({
            url: '/api/planning/remove',
            type: 'POST',
            data: { race: pk },
            complete: function() {
                location.reload();
            }
        });
    }
</script>

{% include "shareaholic/shareaholic_header.html" %}

{% endblock %}

{% block content %}
<div class="content">
    <div class="container simple-page">

        <header><h1>Programme de {{ username  | capfirst }}</h1></header>
        <div class="planning">
            <div class="list-group">
                {% for planned_race in planned_race_list %}
                    <div id="race_{{planned_race.race.pk}}">
                        <div class="list-group-item">
                            <div class="list-group-item-text">
                                    <div class="col-xs-3 date">
                                        <div class="visible-xs-block">{{ planned_race.race.date | date:"d/m/Y" }}</div>
                                        <div class="hidden-xs">{{ planned_race.race.date }}</div>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="event"><a href="{% url "view_race" planned_race.race.slug planned_race.race.pk %}" title="Plus d'informations">{{ planned_race.race.event.name }}</a></div>
                                        <div class="infos">{{planned_race.race.sport.name}} - {{planned_race.race.distance_cat.name}}</div>
                                    </div>
                                    <div>
                                        <a class="glyphicon glyphicon-remove text-danger close_button" aria-hidden="true" href="#" title="Retirer du planning" onclick="removeFromPlanning({{planned_race.race.pk}})"></a>
                                    </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
        {% include "shareaholic/shareaholic_buttons.html" %}
    </div>
</div>

{%endblock%}