{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}Email de validation envoyé{% endblock %}

{% block  content-simple %}
<p>Un email vous a été envoyé contenant un lien de validation de votre compte espròva. Merci de cliquer sur ce lien pour valider le processus d'inscription.</p>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}