{% extends "base.html" %} 
{% load static from staticfiles %} 


{% block head_extra %}
<script type="text/javascript" src="{% static "js/map_styles.js" %}"></script>
<script type="text/javascript" src="{% static "js/race.js" %}"></script>

<title>Modification d'évenement</title>
<meta name="description" content="{{ race.event.name }} ({{ race.distance_cat.name }}), le {{race.date | date:"j F Y" }} à {{ race.location.locality }}, {{ race.location.administrative_area_level_2 }} ({{race.location.administrative_area_level_2_short_name}}). Plus d'informations sur Espròva, calendrier des courses de Triathlon, Duathlon, Bike and Run ...">
{% endblock %}

{% block content %}

<div class="content ">
    <div class="container update">

    {% if pk %}
    <h1>Modification d'évènement</h1>
    {% else %}
    <h1>Création d'évènement</h1>
    {% endif %}

        <form action="" method="post">
            {% csrf_token %}

            <div class="row">


                {% for field in eventForm %}
                    <div class="fieldWrapper row">
                        {{ field.errors }}
                        <span class="col-xs-3">{{ field.label_tag }}</span>
                        <span class="col-xs-9">{{ field }}</span>
                    </div>
                {% endfor %}

                <br class="row">
                <div class="row"> <span class="col-xs-3"><label>Races : </label> </span></div>
                <ul class="list-group row">
                    {% for race in race_list %}
                         <li class="col-xs-9 col-xs-offset-3 list-group-item">
                         <span class="col-xs-10">
                            {{ race.sport }} {{ race.distance_cat.name }} -- {{race.date | date:"l d/m/Y" | capfirst }} {{ race.time| time:"à H:i"| default:"<em class='text-muted'>(horaire non communiqué)</em> "}} 
                         </span>
                         <span class="col-xs-2">
                             <a class="glyphicon glyphicon-edit text-info" aria-hidden="true" href="{% url "update_race" race.event.pk race.pk %}" title="Modifier la course"></a>
                             <a class="glyphicon glyphicon-remove text-danger" aria-hidden="true" href="{% url "delete_race" race.event.pk race.pk %}" title="Supprimer la course"></a>
                         </span>
                         </li>
                    {% endfor %}
                    {% if pk %}
                        <li class="col-xs-9 col-xs-offset-3 list-group-item list-group-item-primary"><a href="{% url "add_race" pk %}"><span class="glyphicon glyphicon-plus" aria-hidden="true" title="Ajouter une course"></span> Ajouter un course ...</a></li>
                    {% else %}
                        <li class="col-xs-9 col-xs-offset-3 list-group-item list-group-item-primary text-muted">Veuillez créer l'évenement avant d'ajouter une course</li>
                    {% endif %}
                </ul>
            </div>

            <div class="row">
                <div class="form-submit">
                    <button type="cancel" class="btn btn-default">Annuler</button>
                    {% if pk %}
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary">Créer</button>
                    {% endif %}
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}