{% extends "base.html" %} 
{% load static from staticfiles %}

{%block head_extra%}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        var input = document.getElementById('search_expr');
        var options = {
            types: ['(regions)'],
            componentRestrictions: {country: 'fr'}
            };
        autocomplete = new google.maps.places.Autocomplete(input, options);

        $( "#search-form" ).on('submit', function( event ) {
            var place = autocomplete.getPlace();
            
            if (typeof place !== "undefined") {
                if (!place.geometry) {
                    event.preventDefault();
                    return;
                }
                $("input[name=lat_lo]").val(place.geometry.viewport.getSouthWest().lat());
                $("input[name=lng_lo]").val(place.geometry.viewport.getSouthWest().lng());
                $("input[name=lat_hi]").val(place.geometry.viewport.getNorthEast().lat());
                $("input[name=lng_hi]").val(place.geometry.viewport.getNorthEast().lng());
            }
        });
    });

</script>

{%endblock%}

{%block navbar %}
    <nav class="intro-navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="nav navbar-nav">
                    <a href="http://www.facebook.com/esprova" target="_blank">
                        <img alt="facebook" src="{% static "images/icon-facebook.svg" %}">
                    </a>
                    <a href="http://www.twitter.com/esprova" target="_blank">
                        <img alt="twitter" src="{% static "images/icon-twitter.svg" %}">
                    </a> 
                    <a class="pull-right" href="#">Connexion</a>
                </div>
                <div class="nav navbar-nav navbar-right">
                    
                </div>        
        <!-- /.container-fluid -->
    </nav>

    {% endblock %}

{% block content %}
<div class="content intropage">
    <div class="container-fluid">
        <div class="row">
            <div class="banner">
                <div class="typogram">
                    <img alt="Espròva" src="{% static "images/typogramme_esprova.svg" %}"> 
                </div>
                <div class="baseline">
                    <p>Une phrase d’accroche qui marche bien, et qu’il va falloir trouver rapidement </p>
                </div>
            </div>
            <!-- intro-banner -->
        </div>
        <!-- row -->
        <form class="search-command form-horizontal"  id="search-form" action="{% url "list_race" %}" method="GET">
            <div class="form-group">
                <label for="inputEmail3" class=" col-sm-offset-1 col-sm-3 control-label">Selectionnez un sport :</label>
                <div class="col-sm-5">
                    <select class="form-control" name="sport">
                      <option>Triathlon</option>
                      <option>Triathlon Jeunes</option>
                      <option>Triathlon Nature</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-offset-1 col-sm-3 control-label">Selectionnez un lieu :</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="search" id="search_expr" class="form-control" placeholder="Région, Département, Ville ..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="search_expr_go"> 
                                <span class="glyphicon glyphicon-search" aria-hidden="true">
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <input type="hidden" name="lat_lo" value="">
            <input type="hidden" name="lng_lo" value="">
            <input type="hidden" name="lat_hi" value="">
            <input type="hidden" name="lng_hi" value="">
        </form>
        <!-- search-command  -->


        <div class="informations">
            <div class="about row">
                <div class="col-sm-4">
                    <div class="about-title">
                        RECHERCHER
                    </div>
                    <img class="about-icon" alt="rechercher" src="{% static "images/icon-about-search.svg" %}">
                    <div class="about-text">
                        Recherchez les épreuves près de chez vous en quelques clics grâce à notre page interactive. Filtrez les résultats par distances, par période, recherchez par mots clés... et trouvez l’épreuve qui vous fera briller !   
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="about-title">
                        ORGANISEZ
                    </div>
                    <img class="about-icon" alt="organiser" src="{% static "images/icon-about-organize.svg" %}">
                    <div class="about-text">
                        Sauvegardez les épreuves incontournables et préparer votre programme sportif de l’année. 
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="about-title">
                        PARTAGEZ
                    </div>
                    <img class="about-icon" alt="partager" src="{% static "images/icon-about-share.svg" %}">
                    <div class="about-text">
                        Partagez votre programme avec vos amis et mettez-les au défi... Que le meilleur gagne   !
                    </div>
                </div>
            </div>

            <div class="intro-spacer row"></div>

            <div class="more-info row">
                <div class="col-sm-4 more-info-icon">
                    <img alt="partager" src="{% static "images/icon-organizers.svg" %}">
                </div>
                <div class="col-sm-8 more-info-text">
                    <div class="title">
                        Vous êtes organisateur d'épreuves ?
                    </div>
                    <div class="text">
                        <p>Espròva pense à vous et vous proposera bientôt des offres spécialement conçues pour améliorer la visibilité de vos évenements sportifs et vous aider à gérer la vie numérique de vos épreuves...</p>
                        <p>En attendant, n’hésitez pas à nous faire part de votre intérêt par <a href="mailto:contact@esprova.com">mail</a>.
                    </div>
                </div>
            </div>

            <div class="intro-spacer row"></div>

            <div class="more-info row">
                <div class="col-sm-4 col-sm-push-8 more-info-icon">
                    <img alt="partager" src="{% static "images/icon-beta.svg" %}">
                </div>
                <div class="col-sm-8 col-sm-pull-4 more-info-text">
                    <div class="title">
                        Espròva est en construction...
                    </div>
                    <div class="text">
                        <p>Espròva est encore tout nouveau, tout beau et de nombreuses fonctionnalités sont encore en développement.</p>
                        <p>Nous travaillons sans relache pour vous offrir tout ce qui pourrait vous aider à organiser vos épreuves, néanmoins, n’hésitez pas à nous faire part de vos remarques, suggestions (et encouragements) par <a href="mailto:contact@esprova.com">mail</a>, <a href="http://www.facebook.com/esprova" target="_blank">facebook</a> ou <a href="http://www.twitter.com/esprova">twitter</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}