{% extends "base.html" %} 
{% load static from staticfiles %}
{% load templatetags %}

{%block navbar %}
    <nav class="intro-navbar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Brand and toggle get grouped for better mobile display -->
                <ul class="nav navbar-nav">
                    <a href="http://www.facebook.com/esprova" target="_blank">
                        <img alt="facebook" src="{% static "images/icon-facebook.svg" %}">
                    </a>
                    <a href="http://www.twitter.com/esprova" target="_blank">
                        <img alt="twitter" src="{% static "images/icon-twitter.svg" %}">
                    </a> 
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ request.user.username }} <span class="caret"></span></a>
                   
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url "user_settings" %}">Paramètres</a>
                                </li>
                                {% if user.is_authenticated %}
                                    <li class="divider"></li>
                                    <li><a href="{% url "auth_logout" %}?next={% url "list_race"%}">Se deconnecter</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% else %}
                       <li><a href="{% url "auth_login" %}">Connexion</a></li>
                    {% endif %}
                       <li><a href="https://esprova.zendesk.com/hc/fr" target="_blank">Aide</a></li>
                </ul>        
            </div>
        <!-- /.container-fluid -->
    </nav>

    {% endblock %}

{% block content %}
<div class="content intropage">
    <div class="container-fluid">
        <div class="row">
            <div class="banner">
                <div class="typogram">
                    <img alt="Espròva" src="{% static "images/typogramme_esprova.svg" %}"> 
                </div>
                <div class="baseline">
                    <p class="alt_font">L'agenda des courses <br>pour les sportifs et organisateurs pressés !</p>
                </div>
            </div>
            <!-- intro-banner -->
        </div>
        <!-- row -->
        <form class="search-command form-horizontal"  id="search-form" action="{% url "list_race" %}" onsubmit="return submitForm(event)" method="GET">
            <div class="form-group form-group-lg">
                <label for="inputEmail3" class=" col-sm-offset-1 col-sm-3 control-label">Selectionnez un sport :</label>
                <div class="col-sm-5">
                    <select class="form-control" name="sport">
                    {% get_sports %}
                    {% for sport in sports %}
                            <option>{{ sport.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group form-group-lg">
                <label for="inputPassword3" class="col-sm-offset-1 col-sm-3 control-label">Recherchez à proximité de :</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="search" id="search_expr" class="form-control" placeholder="Région, Département, Ville ..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-lg" id="search_expr_go"> 
                                <span class="glyphicon glyphicon-search" aria-hidden="true">
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <input type="hidden" name="viewport" value="">
        </form>
        <!-- search-command  -->


        <div class="informations">
            <div class="about row">
                <div class="col-sm-4">
                    <img class="about-icon" alt="recherchez" src="{% static "images/icon-about-search.svg" %}">
                    <div class="about-title">
                        RECHERCHEZ
                    </div>
                    <div class="about-text alt_font">
                       <p>Grâce à notre <strong>moteur de recherche d'épreuves sportives</strong> simple et flexible, vous allez pouvoir facilement parcourir le calendrier de courses de triathlon.</p>
                       <p>Recherchez par <strong>disciplines</strong>, par <strong>périodes</strong>, par <strong>distances</strong> ou par <strong>mots-clés</strong> : Nom de l'évenement, département, région, organisateur, etc...</p>
                       <p>En quelques clics, trouvez la course qui vous fera briller !</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img class="about-icon" alt="organisez" src="{% static "images/icon-about-organize.svg" %}">
                    <div class="about-title">
                        ORGANISEZ
                    </div>
                    <div class="about-text">
                        <p>La performance, ça se prépare : Selectionnez les courses auxquelles vous souhaitez participer cette saison et sauvegardez-les dans votre <strong>programme d'épreuves</strong>.</p>
                        <p>Avec votre <strong>agenda</strong>, vous ne raterez plus aucune course !</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img class="about-icon" alt="partagez" src="{% static "images/icon-about-share.svg" %}">
                    <div class="about-title">
                        PARTAGEZ
                    </div>
                    <div class="about-text">
                        <p>Vous souhaitez communiquer sur votre programme de courses ? Vous souhaitez défier vos amis ? </p>
                        <p>Partagez simplement une course ou tout le programme de votre saison <strong>sur les réseaux sociaux ou par email</strong>.</p>
                        <p>Que le meilleur gagne !</p>
                    </div>
                </div>
            </div>

            <div class="intro-spacer row"></div>

            <div class="more-info row">
                <div class="col-sm-4 more-info-icon">
                    <img alt="partager" src="{% static "images/icon-organizers.svg" %}">
                </div>
                <div class="col-sm-8 col-sm-offset-4 more-info-text">
                    <div class="title">
                        Vous êtes organisateur d'épreuves ?
                    </div>
                    <div class="text">
                        <p>L'organisation d'évenements sportifs requièrent un investissement important de la part de tous les acteurs impliqués, bénévoles ou professionnels. Nous savons à quel point il est laborieux d'effectuer un annoncement efficace de vos évenements sur internet et de les faire vivre sur les réseaux sociaux.</p>
                        <p>Il est temps que cela change : <span class="text-primary">Espròva</span> pense à vous et vous proposera bientôt des offres spécialement conçues pour améliorer la visibilité de vos évenements afin de toucher un nombre encore plus important de sportifs amateurs et professionnels. </p>
                        <p>En attendant, n’hésitez pas à nous faire part de votre intérêt par <a href="mailto:contact@esprova.com&subject=Demande%20d'%20informations%20organisateur">email</a> en laissant vos coordonnées.</p>
                        <p>Nous ne manquerons pas de vous contacter lorsque ces fonctionnalités seront misent à disposition.</p>
                    </div>
                </div>
            </div>

            <div class="intro-spacer row"></div>

            <div class="more-info row">
                <div class="col-sm-4 col-sm-push-8 more-info-icon">
                    <img alt="partager" src="{% static "images/icon-beta.svg" %}">
                </div>
                <div class="col-sm-8 more-info-text">
                    <div class="title">
                        Espròva est en construction...
                    </div>
                    <div class="text">
                        <p><span class="text-primary">Espròva</span> est tout nouveau, tout beau et de nombreuses fonctionnalités sont encore en développement.</p>
                        <p>Nous travaillons sans relâche pour vous offrir tout ce qui pourrait vous aider à organiser vos saisons sportives. Néanmoins, n’hésitez pas à nous faire part de vos remarques, suggestions et encouragements par <a href="mailto:contact@esprova.com">email</a>, sur <a href="http://www.facebook.com/esprova" target="_blank">facebook</a> ou sur <a href="http://www.twitter.com/esprova">twitter</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block beforeBodyClose %}
<script type="text/javascript">
    var input;
    var searchBox;
    var submit = false;
    $( document ).ready(function() {
        var options = {
            types: ['(regions)'],
            // 
            // componentRestrictions: {country: 'fr'}

            };
        input = $('#search_expr');
        searchBox = new google.maps.places.SearchBox(input[0]);

    });

    function submitForm(evt) {
        

        var places = searchBox.getPlaces();

            if (input.val() === "" ) {
                return true;
            }
            
            if (typeof places !== "undefined") {
                place = places[0];
                if (place.geometry) {
                    $("input[name=viewport]").val(place.geometry.viewport.getSouthWest().lat() + "," +
                                                  place.geometry.viewport.getSouthWest().lng() + "," +
                                                  place.geometry.viewport.getNorthEast().lat() + "," +
                                                  place.geometry.viewport.getNorthEast().lng());
                    return true;
                }
            }
            evt.preventDefault();
    }

</script>


<script type="text/javascript" id="cookiebanner"
    src="{% static "js/cookiebanner.min.js"%}"
    data-message="En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies permettant de vous offrir un service optimal et des contenus personnalisés."
    data-linkmsg="Plus d'info"
    ></script>
{% endblock %}