{% extends "base.html" %}
{% load static from staticfiles %} 

{% block content %}
<h1>Evenements</h1>

<div class="panel panel-default">
{% for event in event_list %}
    <div class="panel-heading">{{event.pk}} : {{ event.name }}</div>
    <div class="panel-body"></div>
    website : {{event.website}}</br>
    {# organizer : {{event.organizer}}</br> #}
    edition : {{event.edition }}</br>
    prev_edition : {{event.event_prev_edition }}</br>
    validated : {{event.validated }}</br>
    event_mod_source : {{event.event_mod_source }}

    <h5>Courses</h5>
    <ul class="list-group">
        {% for race in event.get_races %}
            <li class="list-group-item"> {{ race.pk }} : {{ race.distance_cat }} </li>
            <ul>
                <li>sport: {{race.sport}}</li>
                {# <li>title: {{race.title}}</li> #}
                <li>date: {{race.date}}</li>
                <li>time: {{race.time}}</li>
                {# <li>distance_cat: {{race.distance_cat}}</li> #}
                {# <li>price: {{race.price}}</li> #}
                {# <li>federation: {{race.federation}}</li> #}
                {# <li>label: {{race.label}}</li> #}
                <li>contact: {{race.contact}}</li>
                {# <li>description: {{race.description}}</li> #}
                <li>location: {{race.location}}</li>
                <li>created_date: {{race.created_date}}</li>
                <li>created_by: {{race.created_by}}</li>
                <li>modified_date: {{race.modified_date}}</li>
            </ul>
        {% endfor %}
    </ul>

{% empty %}
    <li>No event yet.</li>
{% endfor %}
</div>
{% endblock %}
