{% extends "base.html" %} 
{% load static %} 

{% block head_extra %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %} 

<div class="container-fluid content">
    <div class="row">

        <div class="mapbox col-sm-8 hidden-xs" id="map-canvas">
        </div>

        <div class="sidebox col-sm-4">

            <div class="placesearchbox col-sm-8 visible-xs">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Lieu">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                </div>
                <!-- /input-group -->
            </div>
            <div class="row searchbox well">
                <p>Rechercher quand je déplace la carte
                <input id="follow_map_bounds" type="checkbox" name="terms" checked="checked" />
                </p>
                <form class="form-horizontal" role="form" id="searchform">

                    <div class="form-group">
                        <label for="search_expr" class="col-xs-4 control-label">Recherche</label>
                        <div class="col-xs-8">
                            <input type="search" class="form-control" id="search_expr" placeholder="Recherche">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inStartDate" class="col-xs-4 control-label">Période</label>
                        <div class="col-xs-4">
                            <input type="date" class="form-control" id="inStartDate" placeholder="Date début">
                        </div>
                        <div class="col-xs-4">
                            <input type="date" class="form-control" id="inEndDate" placeholder="Date fin">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="inDistances" class="col-xs-4 control-label">Distances</label>
                        <div class="col-xs-8">
                            <button type="button" class="btn btn-default">XS</button>
                            <button type="button" class="btn btn-default">S</button>
                            <button type="button" class="btn btn-default">M</button>
                            <button type="button" class="btn btn-default">L</button>
                            <button type="button" class="btn btn-default">XL</button>

                        </div>
                    </div>
                      <input type="submit" value="Submit">
                </form>
            </div>

            <div id="racelist" class="list-group row">
                {% block racelist %} 
                    {% for race in race_list %}
                    <a href="{% url "raceview" race.id %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ race.name }} - {{ race.distance }} </h4>
                        <p class="list-group-item-text">{{race.date}} à {{race.city}} ({{race.zipcode|slice:":2"}})</p>
                    </a>
                    {% endfor%} 
                {%endblock%}
            </div>

        </div>
    </div>
</div>
{%endblock%}
