{% extends "base.html" %} 
{% load static from staticfiles %} 

{% block head_extra %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/locales/bootstrap-datepicker.fr.js" %}"></script>
<script type="text/javascript" src="{% static "js/map_styles.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static "css/datepicker3.css" %}" rel="stylesheet"></script>
{% endblock %}

{% block content %} 

<div class="container-fluid content">

{% if messages %}
    {% for message in messages %}
        <div class="mapalert alert alert-info  alert-dismissible" role="alert">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Info : </strong> {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <div class="row">

        <div class="mapbox col-sm-8 hidden-xs" id="map-canvas">
        </div>

        <div class="sidebox col-sm-4">

            <div class="placesearchbox col-sm-8 visible-xs">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Lieu">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                </div>
                <!-- /input-group -->
            </div>
            <div class="row searchbox well">
                <p class="hidden-xs" >Rechercher quand je déplace la carte
                <input id="follow_map_bounds" type="checkbox" name="terms" checked="checked" />
                </p>
                <form id="race_search_form" class="form-horizontal" role="form">

                    <div class="form-group">
                        <label for="start_date" class="col-xs-4 control-label">Période</label>
                        <div class= "col-xs-8">
                            <div class="input-daterange input-group" id="datepicker">
                              <input type="text" class="input-sm form-control" name="start_date" id="start_date" 
                              value="{% now "Y-m-d"%}"/>
                            <span class="input-group-addon"> à </span>
                              <input type="text" class="input-sm form-control" name="end_date" id="end_date"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="inDistances" class="col-xs-4 control-label">Distances</label>
                        <div class="col-xs-8">
                            <div class="btn-group" data-toggle="buttons">
                                <label type="button" class="btn btn-default distance_selector" id="dist1">XS
                                    <input type="checkbox" autocomplete="off" name="distances" value="XS">
                                </label>
                                <label type="button" class="btn btn-default distance_selector" id="dist2">S
                                    <input type="checkbox" autocomplete="off" name="distances" value="S">
                                </label>
                                <label type="button" class="btn btn-default distance_selector" id="dist3">M
                                    <input type="checkbox" autocomplete="off" name="distances" value="M">
                                </label>
                                <label type="button" class="btn btn-default distance_selector" id="dist4">L
                                    <input type="checkbox" autocomplete="off" name="distances" value="L">
                                </label>
                                <label type="button" class="btn btn-default distance_selector" id="dist5">XL
                                    <input type="checkbox" autocomplete="off" name="distances" value="XL">
                                </label>
                            </div>
                        </div>
                    </div>
                        <a href="#" id="reset-search-form">Réinitialiser les critères de recherche</a>
                </form>
            </div>

            <div id="racelist" class="list-group row" role="tablist" aria-multiselectable="true">
                {# here goes race results through ajax #}
            </div>

        </div>
    </div>
</div>
{%endblock%}
