{% extends "base.html" %} 
{% load static from staticfiles %} 

{% block head_extra %}
<script>
// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function validateRace(pk) {
    // TODO : Propose a cancel link and delay for few seconds
    $.ajax({
        url: '/ajx/validate/'+pk,
        type: 'PUT',
        success: function(response, statut) {
            $("#race_"+pk).hide('slow', function(){ $("#race_"+pk).remove(); });
        },
    });
}
function deleteRace(pk) {
    // TODO : Propose a cancel link and delay for few seconds
     $.ajax({
        url: '/ajx/delete/'+pk,
        type: 'DELETE',
        success: function(response, statut) {
            $("#race_"+pk).hide('slow', function(){ $("#race_"+pk).remove(); });
        },
    });
}

</script>
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="racebanner row">
        <p class="text-right">
            <q>{{ race.description }}</q>
        </p>
    </div> 
</div>
<div class="container">
    <header class="page-header row">
        <div class="col-md-9">
            <h1>{{ race.event.name }}
            <p>
                <small> {{ race.location.locality }} 
                {% if race.location.administrative_area_level_2_short_name %}
                ({{ race.location.administrative_area_level_2_short_name }})
                {%endif%}
                </small>
            </p>
            </h1>
        </div>
        <div class="col-md-3">
            <h1>
                {% for distance in race.sport.distancecategory_set.all %}
                    <button type="button" class="btn btn-default"  disabled="disabled">{{ distance.name }}</button>
                {% endfor %}
                </h1>
        </div>
    </header>
     <section class="panel panel-default">
        <dl class="dl-horizontal panel-body">
            <dt>Départ</dt>
            <dd>
                <time datetime="{{race.date}}">{{race.date}}</time>
            </dd>
            <dt>Adresse</dt>
            <dd>
                <address>
                {% for address_line in race.location.get_address_lines %}
                    {{ address_line|linebreaks }}
                {% endfor %}

                </address>
            </dd>
            <dt>Web</dt>
            <dd><a href="race.website">{{race.website}}</a>
            </dd>
        </dl>
    </section>
    <section class="panel panel-default">
    <dl class="dl-horizontal panel-body">
        <dt>Organisateur</dt>
        <dd>
        {% if race.event.organizer.website %}
            <a href="{{ race.event.organizer.website }}">
                {{ race.event.organizer.name }}
            </a>
        {% else %}
            {{ race.event.organizer.name }}
        {%endif%}
        </dd>
        <dt>Contact</dt>
        <dd>
            <address>
                <strong>{{ race.contact.name }}</strong>
                <br> {{ race.contact.phone }}
                <a href="mailto:{{ race.contact.email }}">{{ race.contact.email }}</a>
            </address>
        </dd>
    </dl>
</section>
<section class="panel panel-default">
    <dl class="dl-horizontal panel-body">
        <dt>Tarif</dt>
        <dd>f:35€ avant le 01/06/2014 puis 45€</dd>
        <dt>Clôture des inscriptions</dt>
        <dd>f:20/07/2015</dd>
        <dt>Places disponibles</dt>
        <dd>f:300</dd>
    </dl>
</section>
<section class="panel panel-default">
    <dl class="dl-horizontal panel-body">
        <dt>Distance</dt>
        <dd>{{ race.distance_cat.get_formatted_name }}</dd>
        {% for distance in race.distances.all %}
            <dt>{{ distance.stage.name }}</dt>
            <dd>{{ distance.get_formatted_distance }}</dd>
        {% endfor %}
        <dt>Dénivelé</dt>
        <dd>f:600m positif, 1500m total</dd>
    </dl>
</section>
<section class="panel panel-default">
    <dl class="dl-horizontal panel-body">
        <dt>Challenge</dt>
        <dd>f:Challenge Tri Dromardèche</dd>
        <dt>Temps limite</dt>
        <dd>f:3h</dd>
    </dl>
</section>
<section class="panel panel-default">
    <dl class="dl-horizontal panel-body">
        <dt>Limite d'âge</dt>
        <dd>f:Aucun</dd>
        <dt>Accessible handicap</dt>
        <dd>f:Oui</dd>
    </dl>
</section>

{%if request.user.is_superuser %}

    {% if not race.validated %}
        <a id="race_{{race.pk}}" onclick="validateRace({{race.pk}})" class="btn btn-success" href='#'>Valider le brouillon</a>
    {% endif %}
        
    <a class="btn btn-warning" href="{% url "edit_race" race.slug race.pk %}">Modifier</a>
    <a onclick="deleteRace({{race.pk}})" class="btn btn-danger" href="#">Supprimer</a>
{% endif %}

</div>

{% endblock %}

