{% extends "base.html" %}
{% load static from staticfiles %} 

{% block head_extra %}
<script>
function validateRace(pk) {
     $.ajax({
        url: '/ajx/validate/'+pk,
        type: 'GET',
        success: function(response, statut) {
            $("#race_"+pk).hide('slow', function(){ $("#race_"+pk).remove(); });
        },
    });
}
function deleteRace(pk) {
     $.ajax({
        url: '/ajx/delete/'+pk,
        type: 'GET',
        success: function(response, statut) {
            $("#race_"+pk).hide('slow', function(){ $("#race_"+pk).remove(); });
        },
    });
}

</script>
{% endblock %}


{% block content %}
<div class="container-fluid content">
    <div class="list-group">
        {% for race in race_list %}
            <div id="race_{{race.pk}}">
                <a href="{% url 'view_race' race.slug race.pk %}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ race.event.name }} - {{race.distance_cat.name}}</h4>
                    <p class="list-group-item-text">{{race.date}} - {{race.location}}</p>
                </a>

                <a onclick="validateRace({{race.pk}})" class="btn btn-success" href='#'>Valider le brouillon</a>
                <a onclick="validateRace({{race.pk}})" class="btn btn-warning" href="{% url "edit_race" race.slug race.pk %}">Modifier</a>
                <a onclick="validateRace({{race.pk}})" class="btn btn-danger" href="#">Supprimer</a>
            </div>
        {% endfor %}
    </div>

</div>

{%endblock%}