{% extends "base.html" %} 
{% load static from staticfiles %} 


{% block head_extra %}
<script>
// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function validateRace(pk) {
    // TODO : Propose a cancel link and delay for few seconds
    $.ajax({
        url: '/ajx/validate/'+pk,
        type: 'PUT',
        success: function(response, statut) {
            alert('validé')
        },
    });
}
function deleteRace(pk) {
    // TODO : Propose a cancel link and delay for few seconds
     $.ajax({
        url: '/ajx/delete/'+pk,
        type: 'DELETE',
        success: function(response, statut) {
            alert('supprimé')
            window.location.replace("/list")
        },
    });
}

</script>
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="racebanner row">
    </div> 
</div>
<div class="container racepage">
    
    <div class="row">
        <header class="race-header col-lg-10 col-lg-offset-1">
                <p class="event-name">{{ race.event.name }}</p>
                <p class="event-location">{{ race.location.locality }}
                    {% if race.location.administrative_area_level_2_short_name %}
                    ({{ race.location.administrative_area_level_2_short_name }})
                    {%endif%}
                </p>
        </header>
    </div>


    <div class="race-distances row">

        {% for r in race.event.get_races %}
            {% if r == race %}
                <a class="btn btn-default btn-sm distance-icon active">{{ r.distance_cat.name }}</a>
            {% else %}
                <a href="{% url "view_race" race.slug race.pk %}" class="btn btn-default btn-sm distance-icon">{{ r.distance_cat.name }}</a>
            {% endif %}

        {% endfor %}

    </div>

    <div class="race-content row">
        <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
            {# general information #}
             <section class="race-infogroup row">
                <div class="race-infogroup-icon col-sm-3">&lt;i&gt;</div>
                <div class="race-infogroup-details col-sm-9">
                        <dl class="dl-horizontal">
                            <dt>Départ</dt>
                            <dd>
                                <time datetime="{{race.date}}">{{race.date}}</time>
                            </dd>
                            <dt>Adresse</dt>
                            <dd>
                                <address>
                                
                                {% for address_line in race.location.get_address_lines %}
                                    {{ address_line }}<br>
                                {% endfor %}
                                
                                </address>
                            </dd>
                            <dt>Web</dt>
                            {# <dd><a href="race.website">{{race.website}}</a> #}
                            <dd><a href="http://www.triathlonstgervais.com">http://www.triathlonstgervais.com</a>
                            </dd>
                        </dl>
                    </div>
            </section>



            {# distance #}
            <section class="race-infogroup row">
                <div class="race-infogroup-icon col-sm-3"><span>[...]</span></div>
                    <div class="col-sm-9">
                        <div class="race-infogroup-details">
                        <dl class="dl-horizontal">
                            <dt>Distance</dt>
                            <dd>{{ race.distance_cat.get_formatted_name }}</dd>
                            <br>
                            {% for distance in race.distances.all %}
                                <dt>{{ distance.stage.name }}</dt>
                                <dd>{{ distance.get_formatted_distance }}</dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
            </section>

            {# organizer #}
            <section class="race-infogroup row">
                <div class="race-infogroup-icon col-sm-3">@</div>
                <div class="col-sm-9">
                    <div class="race-infogroup-details">
                        <dl class="dl-horizontal">
                            <dt>Organisateur</dt>
                            <dd>
                            {% if race.event.organizer.website %}
                                <a href="{{ race.event.organizer.website }}">
                                    {{ race.event.organizer.name }}
                                </a>
                            {% else %}
                                {{ race.event.organizer.name }}
                            {%endif%}
                            </dd>
                            <dt>Contact</dt>
                            <dd>
                                <address>
                                    <strong>{{ race.contact.name }}</strong>
                                    <br> {{ race.contact.phone }}
                                    <br> <a href="mailto:{{ race.contact.email }}">{{ race.contact.email }}</a>
                                </address>
                            </dd>
                        </dl>
                    </div>
            </section>
        </div>
    </div>

    <div class="row">

        <div class="race-command">
                {%if request.user.is_superuser %}

                    {% if not race.validated %}
                        <a id="race_{{race.pk}}" onclick="validateRace({{race.pk}})" class="btn btn-success" href='#'>Valider</a>
                    {% endif %}
              
                <a class="btn btn-warning" href="{% url "edit_race" race.slug race.pk %}">Modifier</a>
                <a onclick="deleteRace({{race.pk}})" class="btn btn-danger" href="#">Supprimer</a>
                {% endif %}
        </div>
    </div>

</div>

{% endblock %}

