{% extends "base.html" %} 
{% load static from staticfiles %} 

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="{% static "css/main.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
</head>

{% block content %} 

    {# <link href="{% static "bootstrap/dist/css/bootstrap-theme.css" %}" rel="stylesheet"> #}
</head>
<div class='container-fluid content'>
    <div class='row'>
        <div class='col-md-7 mapbox'></div>
        <div class='col-md-5 sidebox'></div>
    </div>
</div>
{% endblock %}
