{% extends "base.html" %} 
{% load static from staticfiles %} 

{% block head_extra %}
    {# <link href="{% static "css/datepicker3.css" %}" rel="stylesheet"> #}
    <script type="text/javascript" src="{% static "js/bootstrap-datepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/locales/bootstrap-datepicker.fr.js" %}"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}"></script>
{% endblock %}

{% block content %} 

<div class='container-fluid content'>

    {# search page #}
    <div class='row searchpage'>

        {# mapbox #}
        <div id="cd-zoom-in" class="hidden-xs">+</div>
        <div id="cd-zoom-out" class="hidden-xs">-</div>
        <div class='col-md-7 mapbox hidden-xs' id="map-canvas-disabled"></div>

        
        {# sidebox #}
        <div class='col-md-5 sidebox'>
           
           {# searchbox #}
            <div class="row searchbox">

                <form id="race_search_form" class="form-horizontal" role="form">

                    {# expression search #}
                    <div class="row form-group" id="race_quicksearch_form">
                        <label for="start_date" class="col-xs-3 control-label">Recherche :</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <input type="text" id="search_expr" name="search_expr" class="form-control" placeholder="Epreuve, lieu, organisateur..." value="{{ params.search_expr }}"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" id="search_expr_go"> 
                                        <span class="glyphicon glyphicon-search" aria-hidden="true">
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>


                    {# date search #}
                    <div class="row form-group">
                        <label for="start_date" class="col-xs-3 control-label">Période :</label>
                        <div class= "col-xs-8">
                            <div class="input-daterange datepicker input-group" id="datepicker">
                              <input type="text" class="input-sm form-control" name="start_date" id="start_date" value="{{ params.start_date }}"/>
                            <span class="input-group-addon"> à </span>
                              <input type="text" class="input-sm form-control" name="end_date" id="end_date" value="{{ params.end_date }}"/>
                            </div>
                        </div>
                    </div>


                    {# distance search #}
                    <div class="row form-group">
                        <label for="inDistances" class="col-xs-3 control-label">Distances</label>
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="btn-group col-xs-10" data-toggle="buttons">
                                    <label type="button" class="distance_selector btn btn-default {{ params.distances.XS |yesno:"active," }}" id="dist1">XS
                                        <input type="checkbox" autocomplete="off" name="distances" value="XS" {{ params.distances.XS |yesno:"checked," }}>
                                    </label>
                                    <label type="button" class="distance_selector btn btn-primary {{ params.distances.S |yesno:"active," }}" id="dist2">S
                                        <input type="checkbox" autocomplete="off" name="distances" value="S" {{ params.distances.S |yesno:"checked," }}>
                                    </label>
                                    <label type="button" class="distance_selector btn btn-primary {{ params.distances.M |yesno:"active," }}" id="dist3">M
                                        <input type="checkbox" autocomplete="off" name="distances" value="M" {{ params.distances.M |yesno:"checked," }}>
                                    </label>
                                    <label type="button" class="distance_selector btn btn-default {{ params.distances.L |yesno:"active," }}" id="dist4">L
                                        <input type="checkbox" autocomplete="off" name="distances" value="L" {{ params.distances.L |yesno:"checked," }}>
                                    </label>
                                    <label type="button" class="distance_selector btn btn-default {{ params.distances.XL |yesno:"active," }}" id="dist5">XL
                                        <input type="checkbox" autocomplete="off" name="distances" value="XL" {{ params.distances.XL |yesno:"checked," }}>
                                    </label>
                                </div>
                                <span class="help-search glyphicon glyphicon-question-sign col-xs-2"></span>
                            </div>
                        </div>
                    </div>

                    <a href="#" id="reset-search-form" class="col-xs-8 col-xs-offset-3 text-center">Réinitialiser les critères de recherche</a>
                </form>
            </div>
            {# end searchbox #}

            {# racelist #}
            <div id="racelist" class="list-group" role="tablist" aria-multiselectable="true">
        
            {# here goes race results through ajax #}
            <p class="month-spacer">Août 2015 | 5</p>
            
            <div class="search-result first">
                <div class="result-date-preview">04</div>
                <div class="result-content">
                    <p class="result-title">Triathlon des Gorges de l'Ardèche</p>
                    <p class="result-location">Saint Martin d'Ardèche (07)</p>
                   <div class="result-detail">
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XS</button>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">S</button><span class="result-detail-date"><a href="#">Sam 04/08/15 à 14:00</a></span>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">M</button>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">L</button><span class="result-detail-date"><a href="#">Sam 04/08/15 à 9:00</a></span>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XL</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-result active">
                <div class="result-date-preview">11</div>
                <div class="result-content">
                    <p class="result-title">Triathlon du Nautil</p>
                    <p class="result-location">Pontault-Combault (77)</p>
                    <div class="result-detail">
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XS</button><span class="result-detail-date"><a href="#">Sam 11/08/15 à 10:00</a></span>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">S</button><span class="result-detail-date"><a href="#">Dim 12/08/15 à 14:00</a></span>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">M</button>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">L</button>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XL</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-result">
                <div class="result-date-preview">18</div>
                <div class="result-content">
                    <p class="result-title">Triathlon Wattbike du Grand Angoulème</p>
                    <p class="result-location">Saint Yrieix (16)</p>
                    <div class="result-detail">
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XS</button>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">S</button><span class="result-detail-date"><a href="#">Sam 18/08/15 à 11:00</a></span>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">M</button><span class="result-detail-date"><a href="#">Dim 12/08/15 à 9:00</a></span>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">L</button>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XL</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-result">
                <div class="result-date-preview">18</div>
                <div class="result-content">
                    <p class="result-title">Triathlon du Dauphiné</p>
                    <p class="result-location">Saint Donat sur l'Herbasse (26)</p>
                    <div class="result-detail">
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XS</button>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">S</button>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">M</button><span class="result-detail-date"><a href="#">Sam 18/08/15 à 9:00</a></span>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">L</button><span class="result-detail-date"><a href="#">Sam 18/08/15 à 13:00</a></span>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XL</button><span class="result-detail-date"><a href="#">Dim 19/08/15 à 9:00</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-result">
                <div class="result-date-preview">25</div>
                <div class="result-content">
                    <p class="result-title">Fitdays de Saint-Etienne</p>
                    <p class="result-location">Villars (42)</p>
                    <div class="result-detail">
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XS</button><span class="result-detail-date"><a href="#">Sam 25/08/15 à 11:00</a></span>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">S</button><span class="result-detail-date"><a href="#">Sam 26/08/15 à 9:00</a></span>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">M</button>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">L</button>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XL</button>
                        </div>
                    </div>
                </div>
            </div>

            <p class="month-spacer">Septembre 2015 | 9</p>
            
            <div class="search-result first">
                <div class="result-date-preview">04</div>
                <div class="result-content">
                    <p class="result-title">Triathlon des Gorges de l'Ardèche</p>
                    <p class="result-location">Saint Martin d'Ardèche (07)</p>
                   <div class="result-detail">
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XS</button>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">S</button><span class="result-detail-date"><a href="#">Sam 04/08/15 à 14:00</a></span>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">M</button>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">L</button><span class="result-detail-date"><a href="#">Sam 04/08/15 à 9:00</a></span>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XL</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-result">
                <div class="result-date-preview">11</div>
                <div class="result-content">
                    <p class="result-title">Triathlon du Nautil</p>
                    <p class="result-location">Pontault-Combault (77)</p>
                    <div class="result-detail">
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XS</button><span class="result-detail-date"><a href="#">Sam 11/08/15 à 10:00</a></span>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">S</button><span class="result-detail-date"><a href="#">Dim 12/08/15 à 14:00</a></span>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">M</button>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">L</button>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XL</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-result">
                <div class="result-date-preview">18</div>
                <div class="result-content">
                    <p class="result-title">Triathlon Wattbike du Grand Angoulème</p>
                    <p class="result-location">Saint Yrieix (16)</p>
                    <div class="result-detail">
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XS</button>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">S</button><span class="result-detail-date"><a href="#">Sam 18/08/15 à 11:00</a></span>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">M</button><span class="result-detail-date"><a href="#">Dim 12/08/15 à 9:00</a></span>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">L</button>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XL</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-result">
                <div class="result-date-preview">18</div>
                <div class="result-content">
                    <p class="result-title">Triathlon du Dauphiné</p>
                    <p class="result-location">Saint Donat sur l'Herbasse (26)</p>
                    <div class="result-detail">
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XS</button>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">S</button>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">M</button><span class="result-detail-date"><a href="#">Sam 18/08/15 à 9:00</a></span>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">L</button><span class="result-detail-date"><a href="#">Sam 18/08/15 à 13:00</a></span>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XL</button><span class="result-detail-date"><a href="#">Dim 19/08/15 à 9:00</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-result">
                <div class="result-date-preview">25</div>
                <div class="result-content">
                    <p class="result-title">Fitdays de Saint-Etienne</p>
                    <p class="result-location">Villars (42)</p>
                    <div class="result-detail">
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XS</button><span class="result-detail-date"><a href="#">Sam 25/08/15 à 11:00</a></span>
                        </div>
                        <div class="result-detail-distance">
                            <button type="button" class="btn btn-default btn-sm distance-icon">S</button><span class="result-detail-date"><a href="#">Sam 26/08/15 à 9:00</a></span>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">M</button>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">L</button>
                        </div>
                        <div class="result-detail-distance disabled">
                            <button type="button" class="btn btn-default btn-sm distance-icon">XL</button>
                        </div>
                    </div>
                </div>
            </div>

            {# end racelist #}

        </div>
        {# end sidebox #}


    </div>
    {# end search page #}

</div>
{# end content #}

{% endblock %}
