{% extends "base.html" %} 
{% load static from staticfiles %} 


{% block head_extra %}
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    function validateRace(pk) {
          $.ajax({
            url: '/api/validate/'+pk,
            type: 'PUT',
            data: { race: pk },
            success: function(response, statut) {
                alert('validé')
            },
        });
          location.replace('/races');
    }
</script>

{% endblock %}

{% block content %}

<div class="content ">
    <div class="container update">

        <h1>{{ event.name }}</h1>

        <div class="event">

            <div class="row">
                <div class="row">
                    <span class="col-xs-3"><label>Site internet : </label></span>
                    <span class="col-xs-9">{{ event.website }}</span>
                </div>
                <div class="row">
                    <span class="col-xs-3"><label>Editon : </label></span>
                    <span class="col-xs-9">{{ event.edition }}</span>
                </div>

                <br class="row">
                <div class="row"> <span class="col-xs-3"><label>Races : </label> </span></div>
                <ul class="list-group row">
                    {% for race in event.get_races %}
                         <li class="col-xs-9 col-xs-offset-3 list-group-item">
                             <span>
                                <a href="{% url "view_race" race.slug race.pk %}" >{{ race.sport }} {{ race.distance_cat.name }} -- {{race.date | date:"l d/m/Y" | capfirst }} {{ race.time| time:"à H:i"| default:"<em class='text-muted'>(horaire non communiqué)</em> "}} </a>
                             </span>
                         </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row">
                <div class="form-submit">
                    {% if not event.validated %}
                        <button type="submit" class="btn btn-primary" onclick="validateRace({{event.pk}})">Valider</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}