{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content-simple %}
<header><h1>Erreur</h1></header>



<p style='text-align:center'>L'activation de votre compte a échoué. Merci de contacter <a href="https://esprova.zendesk.com/hc/fr/requests/new">le support</a> si problème persiste.</p>
{% endblock %}


{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}