{% extends "registration/registration_base.html" %}
{% load i18n %}


{% block  content-simple %}

<header>
    <h1>{% trans "Confirm password reset" %}</h1>
</header>

<div class="col-sm-8 col-sm-offset-2">  


    <form method="post" action="" class="simple-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper row">
                {% if field.errors %}
                    <span class="col-xs-10 col-xs-offset-3">{{ field.errors.as_text }}</span>
                {% endif %}

                {% if field.field.required %}
                    <span class="col-xs-5 label required">{{ field.label_tag }}</span>
                {% else %}
                    <span class="col-xs-5 label">{{ field.label_tag }}</span>
                {% endif %}

                <span class="col-xs-7">{{ field }}</span>
            </div>
        {% endfor %}

        <div class="form-submit">
            <button type="submit"  class="btn btn-primary">{% trans 'Set password' %}</button>
        </div>

    </form>

</div>
{% endblock %}


{# This is used by django.contrib.auth #}