{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}


{% block  content-simple %}
<header><h1>Changement de mot de passe</h1></header>

<form method="post" action="" class="simple-form">
    {% csrf_token %}
    
   {% for field in form %}
    <div class="fieldWrapper row">
     {% if field.errors %}
            <span class="col-xs-10 col-xs-offset-3">{{ field.errors.as_text }}</span>
        {% endif %}

        {% if field.field.required %}
            <span class="col-xs-3 label required">{{ field.label_tag }}</span>
        {% else %}
            <span class="col-xs-3 label">{{ field.label_tag }}</span>
        {% endif %}

        <span class="col-xs-9">{{ field }}</span>
    </div>
{% endfor %}

    <div class="form-submit">
        <input type="hidden" name="next" value="{% url "list_race" %}" />
        <a href="{% url "list_race" %}" class="btn btn-default" role="button">Annuler</a>
        <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
    </div>
</form>
{% endblock %}


{# This is used by django.contrib.auth #}