{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block  content-simple %}
<header><h1>Création de compte</h1></header>

<form method="post" action="" class="simple-form">
    {% csrf_token %}
    
   {% for field in form %}
    <div class="fieldWrapper row">
        {% if field.errors %}
            <span class="col-xs-10 col-xs-offset-3">{{ field.errors.as_text }}</span>
        {% endif %}

        {% if field.field.required %}
            <span class="col-xs-3 label required">{{ field.label_tag }}</span>
        {% else %}
            <span class="col-xs-3 label">{{ field.label_tag }}</span>
        {% endif %}

        <span class="col-xs-9">{{ field }}</span>
    </div>
{% endfor %}

    <div class="form-submit">
        <input type="hidden" name="next" value="{% url "list_race" %}" />
        <a href="{% url "list_race" %}" class="btn btn-default" role="button">Annuler</a>
        <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
    </div>
</form>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}