{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/map_styles.js" %}"></script>

    {%block head_extra%}
    {# page specific head directives #}
    {%endblock%}

    <link href="{% static "css/main.css" %}" rel="stylesheet">
</head>

<body>
    {%block navbar %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Afficher navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "list_race" %}">
                    <img alt="Espròva" src="{% static "images/typogramme_esprova.svg" %}"> 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form action="{% url "create_race" %}">
                            <button type="submit" class="btn btn-primary navbar-btn ">Ajouter une épreuve</button>
                        </form>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ request.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Ma Page</a>
                            </li>
                            <li><a href="#">Mes Epreuves</a>
                            </li>
                            <li><a href="#">Mes Amis</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url "logout" %}">Se deconnecter</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}

    <footer>
        <img class="footer-logo col-sm-2" alt="Espròva" src="{% static "images/typogramme_esprova_white.svg" %}"> 
        <ul class="list-inline footer-quicklinks col-sm-10">
            <li><a href="{% url "intro" %}">à propos</a></li> |
            <li><a href="{% url "list_race" %}">recherche d’épreuves</a></li> |
            <li><a href="{% url "login" %}">connexion</a></li> |
            <li><a href="#">mentions légales</a> |
            <li>contacts :
                <span class="contact-icons">
                    <a href="mailto:contact@esprova.com" target="_blank">
                        <img alt="mail" src="{% static "images/icon-email.svg" %}">
                    </a>
                    <a href="http://www.facebook.com/esprova" target="_blank">
                        <img alt="facebook" src="{% static "images/icon-facebook.svg" %}">
                    </a>
                    <a href="http://www.twitter.com/esprova" target="_blank">
                        <img alt="twitter" src="{% static "images/icon-twitter.svg" %}">
                    </a> 
                </span>
            </li>
        </ul>
    </footer>

    {% endblock %}


</body>

</html>
