{% load static from staticfiles %}
{% load templatetags %}


<!DOCTYPE html>
<html lang="fr">

<head>
    {% block title %}
    <title>Espròva - Calendrier des courses de Triathlon, Duathlon, Bike and Run ...</title>
    {% endblock %}

    {% block meta %}
    <meta name="description" content="Espròva est un calendrier des courses de Triathlon, Duathlon, Run and Bike, ... Retrouvez toutes les épreuves sur la carte intéractive et recherchez les courses qui vous correspondent grâce à notre moteur de recherche simple et performant. Sauvegardez vos courses préférées, préparez votre programme sportif, et donnez rendez-vous à vos amis. Que le meilleur gagne !">
    {% endblock%}

    {% block opengraph %}
    <meta property="og:title" content="Espròva" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Espròva est un calendrier des courses de Triathlon, Duathlon, Run and Bike, ... Retrouvez toutes les épreuves sur la carte intéractive et recherchez les courses qui vous correspondent grâce à notre moteur de recherche simple et performant. Sauvegardez vos courses préférées, préparez votre programme sportif, et donnez rendez-vous à vos amis. Que le meilleur gagne !"/>
    {% endblock %}

    <meta property="og:image" content="{% static "images/race-banner.jpg" %}"/>
    

    <link rel="apple-touch-icon" sizes="57x57" href="{% static "apple-touch-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "apple-touch-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "apple-touch-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "apple-touch-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "apple-touch-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "apple-touch-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "apple-touch-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon-180x180.png" %}">
    <link rel="icon" type="image/png" href="{% static "favicon-32x32.png" sizes="32x32" %}">
    <link rel="icon" type="image/png" href="{% static "favicon-194x194.png" sizes="194x194" %}">
    <link rel="icon" type="image/png" href="{% static "favicon-96x96.png" sizes="96x96" %}">
    <link rel="icon" type="image/png" href="{% static "android-chrome-192x192.png" sizes="192x192" %}">
    <link rel="icon" type="image/png" href="{% static "favicon-16x16.png" sizes="16x16" %}">
    <link rel="manifest" href="{% static "manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "mstile-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/datepicker3.css" %}">
    
    <script src="{% static "js/min/modernizr.min.js" %}"></script>

    <script src="{% static "js/min/jquery-2.1.3.min.js" %}"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    <script src="{% static "js/min/jquery.history.min.js" %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=places"></script>
    <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/locales/bootstrap-datepicker.fr.js" %}"></script>

    <script type="text/javascript">
        var static_url = "{% settings_value "STATIC_URL" %}";
        var default_lat = 46.9; // depecrated
        var default_lng = 2.6; // depecrated
        var default_search_bounds = [36.82205,-14.336914,54.581304,18.490234]; // for results fetching
        var default_cache_bounds = [-90, -90, 90, 90]; // for map marker intialization
        var default_search_expr = "";
        var default_start_date = "{% now 'Y-m-d' %}";
        // var default_end_date = "{% nextyear 'Y-m-d' %}";
        var default_end_date = "2016-03-01";
         {% get_sports %}
        var default_sport = "{{ request.session.selected_sport | default:sports.0 }}";
        var default_distances = "" ;
    </script>

    <script type="text/javascript">
    // JS library used to send form through ajax with CRSF mechanism
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    </script>

    {# typekit font #}
    <script src="//use.typekit.net/fbh4ghz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    {%block head_extra%}
    {# page specific head directives #}
    {%endblock%}
</head>

<body>
    {%block navbar %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Afficher navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                <a class="navbar-brand" href="{% url "list_race" %}">
                    <img alt="Espròva" src="{% static "images/typogramme_esprova.svg" %}"> 
                </a>
            </div>
            

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li><a href=" {% url "intro" %} ">Accueil</a></li>
                    <li><a href=" {% url "list_race" %}">Recherche</a></li>
                    <li><a href=" {% url "planning" %}">Programme</a></li>
                </ul>
            
                <ul class="nav navbar-nav navbar-right">
                        
                        {% if user.is_superuser %}
                            <li>
                                <a href=" {% url "list_event_validation" %}" class="text-warning"> Validation</a></li>
                            </li>
                        {% endif %}
                        <li>
                            <a href=" {% url "create_event" %}"> Ajouter une course</a>
                        </li>
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ request.user.username | capfirst }} <span class="caret"></span></a>
                   
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url "user_settings" %}">Paramètres</a>
                                </li>
                                {% if user.is_authenticated %}
                                    <li class="divider"></li>
                                    <li><a href="{% url "auth_logout" %}?next={% url "list_race"%}">Se deconnecter</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% else %}
                       <li><a href="{% url "auth_login" %}">Connexion</a></li>
                    {% endif %}
                       <li><a href="https://esprova.zendesk.com/hc/fr" target="_blank">Aide</a></li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% endblock %}

    {% block messages %}
    {% autoescape off %}
        {% if messages %}
        <div class="messages">
            <div class="alert-notch"></div>
            {% for message in messages %}
                <div class="alert alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endautoescape %}
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}

    <footer>
        <img class="footer-logo col-sm-2" alt="Espròva" src="{% static "images/typogramme_esprova_white.svg" %}"> 
        <ul class="list-inline footer-quicklinks col-sm-10">
            <li><a href="{% url "intro" %}">à propos</a> | </li>
            <li><a href="{% url "list_race" %}">recherche d’épreuves</a> | </li>
            <li><a href="{% url "planning" %}">programme personnalisé</a> | </li>
            {% if not user.is_authenticated %}
                <li><a href="{% url "auth_login" %}">connexion</a> | </li>
            {% endif %}
            <li><a href="{% url "legal" %}">mentions légales</a> | </li>
            <li>contact :
                <span class="contact-icons">
                    <a href="mailto:contact@esprova.com">
                        <img alt="mail" src="{% static "images/icon-email.svg" %}">
                    </a>
                    <a href="http://www.facebook.com/esprova" target="_blank">
                        <img alt="facebook" src="{% static "images/icon-facebook.svg" %}">
                    </a>
                    <a href="http://www.twitter.com/esprova" target="_blank">
                        <img alt="twitter" src="{% static "images/icon-twitter.svg" %}">
                    </a> 
                </span>
            </li>
        </ul>
    </footer>

    {% endblock %}



<script type="text/javascript" src="{% static "js/min/bootstrap-min.js" %}"></script>
<script type="text/javascript" src="{% static "js/min/map_styles-min.js" %}"></script>

{% block beforeBodyClose %}

{% endblock%}

{# google analytics #}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{% settings_value "GOOGLE_ANALYTICS_ID" %}' , 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>
