{% load static from staticfiles %}
{% load templatetags %}


<!DOCTYPE html>
<html>

<head>

    <link rel="apple-touch-icon" sizes="57x57" href="{% static "apple-touch-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "apple-touch-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "apple-touch-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "apple-touch-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "apple-touch-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "apple-touch-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "apple-touch-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon-180x180.png" %}">
    <link rel="icon" type="image/png" href="{% static "favicon-32x32.png" sizes="32x32" %}">
    <link rel="icon" type="image/png" href="{% static "favicon-194x194.png" sizes="194x194" %}">
    <link rel="icon" type="image/png" href="{% static "favicon-96x96.png" sizes="96x96" %}">
    <link rel="icon" type="image/png" href="{% static "android-chrome-192x192.png" sizes="192x192" %}">
    <link rel="icon" type="image/png" href="{% static "favicon-16x16.png" sizes="16x16" %}">
    <link rel="manifest" href="{% static "manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "mstile-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="{% static "css/main.css" %}" rel="stylesheet">

    <script src="{% static "js/min/jquery-2.1.3.min.js" %}"></script>
    <script type="text/javascript">
        var static_url = "{% settings_value "STATIC_URL" %}";
    </script>
    <script type="text/javascript" src="{% static "js/min/bootstrap-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/min/map_styles-min.js" %}"></script>

    {%block head_extra%}
    {# page specific head directives #}
    {%endblock%}
</head>

<body>
    {%block navbar %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Afficher navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                <a class="navbar-brand" href="{% url "list_race" %}">
                    <img alt="Espròva" src="{% static "images/typogramme_esprova.svg" %}"> 
                </a>
            </div>
            

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
                <ul class="nav navbar-nav navbar-right">
                    
                    {% if user.is_authenticated %}
                        <li>
                            <form action="{% url "create_race" %}">
                                <button type="submit" class="btn btn-primary navbar-btn ">Ajouter une épreuve</button>
                            </form>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ request.user.username }} <span class="caret"></span></a>
                   
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url "list_race" %}">Recherche</a>
                                </li>
                                <li><a href="{% url "intro" %}">A propos</a>
                                </li>
                                {% if user.is_authenticated %}
                                    <li class="divider"></li>
                                    <li><a href="{% url "logout" %}">Se deconnecter</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% else %}
                       <li><a href="{% url "login" %}">Connexion</a></li>
                    {% endif %}
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}

    <footer>
        <img class="footer-logo col-sm-2" alt="Espròva" src="{% static "images/typogramme_esprova_white.svg" %}"> 
        <ul class="list-inline footer-quicklinks col-sm-10">
            <li><a href="{% url "intro" %}">à propos</a></li> |
            <li><a href="{% url "list_race" %}">recherche d’épreuves</a></li> |
            {% if not user.is_authenticated %}
                <li><a href="{% url "login" %}">connexion</a></li> |
            {% endif %}
            <li><a href="{% url "legal" %}">mentions légales</a> |
            <li>contact :
                <span class="contact-icons">
                    <a href="mailto:contact@esprova.com">
                        <img alt="mail" src="{% static "images/icon-email.svg" %}">
                    </a>
                    <a href="http://www.facebook.com/esprova" target="_blank">
                        <img alt="facebook" src="{% static "images/icon-facebook.svg" %}">
                    </a>
                    <a href="http://www.twitter.com/esprova" target="_blank">
                        <img alt="twitter" src="{% static "images/icon-twitter.svg" %}">
                    </a> 
                </span>
            </li>
        </ul>
    </footer>

    {% endblock %}

{% block beforeBodyClose %}

{% endblock%}

{# google analytics #}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60175871-1', 'auto');
  ga('send', 'pageview');
</script>

</body>

</html>
