{% extends "base.html" %} 
{% load static from staticfiles %}

<footer>
    <img alt="Espròva" src="{% static "images/typogramme_esprova.svg" %}"> 
    <div class="footer-quicklinks">
        <a href="#">à propos</a>|
        <a href="#">recherche d’épreuves</a>|
        <a href="#">connexion</a>|
        <a href="#">mentions légales</a>
    </div>
    <div class="footer-contacts">
        contacts : 
        <img alt="mail" src="{% static "images/typogramme_esprova.svg" %}"> 
        <img alt="facebook" src="{% static "images/typogramme_esprova.svg" %}"> 
        <img alt="twitter" src="{% static "images/typogramme_esprova.svg" %}"> 

    </div>
</footer>